/* Color Palette */

/* --color-rosy-copper-50: #f8eeec;
--color-rosy-copper-100: #f2dcd9;
--color-rosy-copper-200: #e5bab3;
--color-rosy-copper-300: #d8978d;
--color-rosy-copper-400: #cb7467;
--color-rosy-copper-500: #be5241;
--color-rosy-copper-600: #984134;
--color-rosy-copper-700: #723127;
--color-rosy-copper-800: #4c211a;
--color-rosy-copper-900: #26100d;
--color-rosy-copper-950: #1b0b09; */

/* --color-rosy-copper-50: rgb(248 238 236);
--color-rosy-copper-100: rgb(242 220 217);
--color-rosy-copper-200: rgb(229 186 179);
--color-rosy-copper-300: rgb(216 151 141);
--color-rosy-copper-400: rgb(203 116 103);
--color-rosy-copper-500: rgb(190 82 65);
--color-rosy-copper-600: rgb(152 65 52);
--color-rosy-copper-700: rgb(114 49 39);
--color-rosy-copper-800: rgb(76 33 26);
--color-rosy-copper-900: rgb(38 16 13);
--color-rosy-copper-950: rgb(27 11 9); */

